@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
.nav{
  /* border: 2px solid blue; */
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding:0;
  left: 0;
  justify-content: center;
}
.navBarContainer{
  border: 2px solid green;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  position: relative;
  margin: 0;
  clear: both;
}
/* .navBarButton{
  border: 2px solid red;
  text-align: center;
  position: static;
  flex-direction: row;
  padding: 1em 1em 0em 1em;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
} */
.navBarBtn{
  border: 2px solid brown;
  margin: -3%;
  display: flex;
}
.navBarBtn:hover{
  background-color: gray;
}

.dropDownBar{
  position: fixed;
  min-width: max-content;
  border-radius: 0px 0px 5px 5px;
  margin-top: 0.7em;
  /* border: 2px solid purple; */
}
.dropDownBarBtn{
  min-width: max-content;
  padding: 0em 100% 0em 100%;
  border: 2px solid black;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
